body {
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #383e4a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.btn-primary {
    background-color: #42a5f5;
    border-color: #42a5f5;
}

.btn-primary:hover {
    background-color: #1e88e5;
    border-color: #1e88e5;
}

.form-control {
    background-color: #4a5160;
    border: 1px solid #555;
    color: white;
}

.form-control:focus {
    background-color: #4a5160;
    color: white;
    border-color: #42a5f5;
    box-shadow: 0 0 0 0.2rem rgba(66, 165, 245, 0.25);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 250px;
}

.logo{
    width: 150%;
    height: auto;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}